p{
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
}
.line1{
  font-weight: bold;
  margin-bottom: 5px;
}
.line1_1{
  color: gray;
  font-weight: lighter;
}
.line2{
  width: 500px;
  margin-bottom: 15px;
}
.line3_1{
  color: lightblue;
}