.box-1,
.box-2{
  width: 105px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
}
.box-3{
  display: block;
  margin-top: 10px;
  width: 220px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
}

button{
  background-color: royalblue;
  color: white;
  margin-top: 10px;
  width: 230px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
}